<ion-view id="deals" view-title="Edit Deal">
	
	<ion-content padding="true">
		<ion-item > 
		    
		1)  <a href="#/tab/home" > Home </a>
		2)  <a href="#/tab/consents" > Go to consents </a> 
		
	</ion-item >
	<label class = "item item-input item-select item-calm">
   <div class = "input-label">
      Select 
   </div>
	
   <select  ng-model="vm.dynamicconsent.data.type" ng-init="vm.dynamicconsent.data.type = vm.type[2]"  ng-options="x for x in vm.type">
      
   </select>
   </label>

   <label class = "item item-input item-select item-balanced">
   <div class = "input-label">
      Select {{vm.dynamicconsent.data.type}}
   </div>
	
   <select  ng-model="vm.dynamicconsent.data.subtype" ng-init="vm.dynamicconsent.data.subtype = vm.marriagetype[0]"  ng-options="x for x in vm.marriagetype" ng-show="vm.dynamicconsent.data.type=='Marriage'">
      
   </select>
   <select  ng-model="vm.dynamicconsent.data.subtype" ng-init="vm.dynamicconsent.data.subtype = vm.datingtype[0]"  ng-options="x for x in vm.datingtype" ng-show="vm.dynamicconsent.data.type=='Dating'">
      
   </select>
   <select  ng-model="vm.dynamicconsent.data.subtype" ng-init="vm.dynamicconsent.data.subtype = vm.businesstype[0]"  ng-options="x for x in vm.businesstype" ng-show="vm.dynamicconsent.data.type=='Business'">
      
   </select>
   <select  ng-model="vm.dynamicconsent.data.subtype" ng-init="vm.dynamicconsent.data.subtype = vm.realestatetype[0]"  ng-options="x for x in vm.realestatetype" ng-show="vm.dynamicconsent.data.type=='Real Estate'">
      
   </select>
   </label>
	
	
		<div class = "input-label">
      Title
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-edit placeholder-icon"></i>
    	<input  type="text" cols="150" ng-model="vm.dynamicconsent.data.title" placeholder=" Enter title" style="color:blue;width:100%; "> 

		</input>
	
      </label>
   </div>
   
   
   
		<div class = "input-label">
      Description
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-edit placeholder-icon"></i>
    	<textarea rows="4" cols="150" ng-model="vm.dynamicconsent.data.description" placeholder=" Enter description" style="color:blue;width:100%; ">

		</textarea>
	
      </label>
   </div>
   
   <div class = "input-label">
      Consentor email-id
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-email placeholder-icon"></i>
    	<input  type="text" cols="150" ng-model="vm.dynamicconsent.data.consentoremail" placeholder=" Enter email-id" style="color:blue;width:100%; "> 

		</input>
	
      </label>
   </div>
   
		
	<div class = "input-label">
      Attach any image
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-upload placeholder-icon"></i>
    	
		<button type="file" ngf-select="vm.uploadimage($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="button icon ion-upload">
      Add image</button>
	  
  
  <div style="font:smaller">{{f.name}} 
  </div>     
  
  
  
      </label>
	  
   </div>
  	<div class="item item-thumbnail-left" >
	
	<img ng-src="{{vm.dynamicconsent.uploadedimage}}" ng-if="vm.consent.uploadedimage==''">
   <img ng-src="{{vm.consent.uploadedimage}}" ng-if="vm.consent.uploadedimage!=''">
      MD5:<p> {{vm.consent.imagehash}} </p>
      
      
    </div>

	
	
	
	<div class = "input-label">
       Attach any pdf
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-upload placeholder-icon"></i>
    <button type="file" ngf-select="vm.uploadpdf($file, $invalidFiles)"
          accept="application/pdf" ngf-max-height="1000" ngf-max-size="1MB" class="button icon ion-upload">
      Add pdf</button>
	  
      </label>
   </div>
  <div class="item item-icon-left" ng-if="vm.dynamicconsent.data.uploadedpdf != ''" >
				<span >
					<i class="icon ion-document"></i>
					<span>PDF</span>
					MD5<span> {{vm.dynamicconsent.data.pdfhash}}</span>
				</span>
	</div>
	
	
   
   	<div class = "input-label">
      Closing message
		</div>	
		<div class = "item item-input-inset">
		
      <label class = "item item-input-wrapper">
         <i class = "icon ion-edit placeholder-icon"></i>
    	<input  type="text" cols="150" ng-model="vm.dynamicconsent.data.closingmessage" placeholder=" Enter closing message" style="color:blue;width:100%; "> 

		</input>
	
      </label>
   </div>
   
   
   
  
    
	
		<button ng-click="vm.UpdateConsentdata(vm.dynamicconsent.dataId)" class = "button button-block button-positive"> Update deal </button>

		
	</ion-content>
</ion-view>



